@reference "../../styles.css";

.key {
  @apply flex h-14 flex-1 items-center justify-center rounded-sm bg-blue-500 p-2 text-xl text-white select-none hover:cursor-pointer hover:bg-blue-400;

  &.enter {
    @apply w-fit;
  }

  &.used {
    @apply cursor-default bg-gray-700;
  }
}
