<div class="virtual-keyboard rounded-sm gap-3 flex flex-col p-1 w-full">
  @for (row of letters; track row.join(""); let i = $index) {
    <div class="keyboard-row flex justify-center gap-2">
      @for (letter of row; track letter) {
        @let isUsed = usedLetters().has(letter);

        <button
          class="key"
          (click)="boardStore.typeLetter(letter)"
          [disabled]="isUsed"
          [class.used]="isUsed"
        >
          {{ letter }}
        </button>
      }
      @if (i === letters.length - 1) {
        <button class="key enter" (click)="submit.emit()">Enter</button>
      }
    </div>
  }
</div>
