<div class="virtual-keyboard flex w-full flex-col gap-1 rounded-sm p-1">
  @for (row of letters; track row.join(""); let i = $index) {
    <div class="keyboard-row flex justify-center gap-1">
      @for (letter of row; track letter) {
        @let isUsed = usedLetters().has(letter);

        <button
          class="key"
          (click)="boardStore.typeLetter(letter)"
          [disabled]="isUsed"
          [class.used]="isUsed"
        >
          {{ letter }}
        </button>
      }
      @if (i === 1) {
        <button class="key backspace" (click)="boardStore.removeLetter()">
          <app-icon iconName="backspace" />
        </button>
      }
      @if (i === letters.length - 1) {
        <button class="key enter" (click)="submit.emit()">
          <app-icon iconName="arrowRight" />
        </button>
      }
    </div>
  }
</div>
