@reference "../../styles.css";

.key {
  @apply flex h-14 w-8 items-center justify-center rounded-sm bg-slate-600 p-2 text-xl text-white select-none hover:cursor-pointer hover:bg-blue-400;

  &.enter {
    @apply w-10;
  }

  &.backspace {
    @apply w-10;
  }

  &.used {
    @apply cursor-default bg-gray-700;
  }
}
