@reference "../../styles.css";

.key {
  @apply bg-primary hover:bg-primary-hover flex h-14 w-8 items-center justify-center rounded-sm p-2 text-xl text-white select-none hover:cursor-pointer;
  @apply touch-manipulation;

  &.enter {
    @apply w-10;
  }

  &.backspace {
    @apply w-10;
  }

  &.used {
    @apply bg-muted cursor-default;
  }
}
