@reference "../../styles.css";

.key {
  @apply bg-primary hover:bg-primary-hover flex size-8 items-center justify-center rounded-sm p-1 text-sm text-white select-none hover:cursor-pointer;
  @apply shrink-0 whitespace-nowrap;

  &.active {
    @apply bg-primary-active;
  }
}

.control-group {
  @apply bg-secondary text-secondary-text shadow-soft flex h-10 items-center justify-start gap-2 rounded-sm px-2;
  @apply overflow-hidden transition-all duration-1000;

  > [iconName] {
    @apply cursor-pointer;
  }

  &.open {
    @apply max-w-40;
  }

  &.ajar {
    @apply max-w-20;
  }

  &.closed {
    @apply max-w-10;
  }
}

.duration {
  &.failed {
    color: var(--color-secondary-text-danger);
  }
  &.succeeded {
    color: var(--color-secondary-text-success);
  }
}
