<!-- 
reset
tip
language

-->
<div class="flex flex-col items-center justify-center gap-2">
  <div class="flex items-center justify-center gap-4 p-2">
    <p class="text-3xl">Word Match</p>
    <div class="flex gap-1">
      <button
        class="bg-danger hover:bg-danger-hover cursor-pointer rounded p-2 select-none"
        (click)="gameStore.newWord()"
      >
        <app-icon iconName="Refresh" />
      </button>
      <button
        class="bg-danger hover:bg-danger-hover cursor-pointer rounded p-2 select-none"
        (click)="gameStore.giveUp()"
      >
        <app-icon iconName="Visibility" />
      </button>
    </div>
    <div
      class="bg-muted flex h-10 items-center justify-center gap-1 rounded-sm px-2"
    >
      <app-icon iconName="Language" />
      <button
        class="key"
        [class.active]="this.gameStore.language() === Language?.PT_BR"
        (click)="gameStore.setLanguage(Language!.PT_BR)"
      >
        PT
      </button>
      <button
        class="key"
        [class.active]="this.gameStore.language() === Language?.EN_US"
        (click)="gameStore.setLanguage(Language!.EN_US)"
      >
        EN
      </button>
    </div>
  </div>
  @let answer = gameStore.answer();

  @if (answer) {
    <div class="flex gap-1">
      <app-icon iconName="Check" />
      <p>
        {{ answer.word }}
      </p>
    </div>
  }
</div>
