<!-- 
reset
tip
language

-->
<div class="flex flex-col items-center justify-center gap-2">
  <p class="text-xl">Word Match</p>
  <div class="flex items-center justify-center gap-2 p-2">
    <div
      class="control-group"
      [class.open]="isGameMenuOpen()"
      [class.closed]="!isGameMenuOpen()"
    >
      <app-icon
        iconName="Controller"
        (click)="isGameMenuOpen.set(!isGameMenuOpen())"
      />
      <button
        class="key"
        (click)="gameStore.newWord(); $event.stopPropagation()"
      >
        <app-icon iconName="Refresh" />
      </button>
      <button
        class="key"
        (click)="gameStore.giveUp(); $event.stopPropagation()"
      >
        <app-icon iconName="Visibility" />
      </button>
    </div>
    <div
      class="control-group"
      [class.open]="isLanguageSelectorOpen()"
      [class.ajar]="!isLanguageSelectorOpen()"
    >
      <app-icon iconName="Language" (click)="toggleLanguageSelector()" />
      @for (language of languages(); track language) {
        @let isActive = this.gameStore.language() === language.code;
        <button
          class="key"
          [class.active]="isActive"
          (click)="selectLanguage(language.code, $event)"
        >
          {{ language.label }}
        </button>
        <!-- @if (isActive || isLanguageSelectorOpen()) {
        } -->
      }
      <!-- <button
        class="key"
        [class.active]="this.gameStore.language() === Language?.PT_BR"
        (click)="gameStore.setLanguage(Language!.PT_BR)"
      >
        PT
      </button>
      <button
        class="key"
        [class.active]="this.gameStore.language() === Language?.EN_US"
        (click)="gameStore.setLanguage(Language!.EN_US)"
      >
        EN
      </button>
      <button
        class="key"
        [class.active]="this.gameStore.language() === Language?.FR"
        (click)="gameStore.setLanguage(Language!.FR)"
      >
        FR
      </button> -->
    </div>
  </div>
  @let answer = gameStore.answer();

  @if (answer) {
    <div class="flex gap-1">
      <app-icon iconName="Check" />
      <p>
        {{ answer.word }}
      </p>
    </div>
  }
</div>
