@reference "../../styles.css";

.key {
  @apply bg-primary hover:bg-primary-hover flex items-center justify-center rounded-sm p-1 text-sm text-white select-none hover:cursor-pointer;

  &.active {
    @apply bg-primary-active;
  }
}
