<!-- 
reset
tip
language

-->
<div class="flex flex-col items-center justify-center gap-2">
  <div class="flex items-center justify-center gap-4 p-2">
    <p class="text-3xl">Word Match</p>
    <div class="flex gap-1">
      <button
        class="cursor-pointer rounded bg-red-400 p-2 select-none"
        (click)="gameStore.newWord()"
      >
        <app-icon iconName="Refresh" />
      </button>
      <button
        class="cursor-pointer rounded bg-red-400 p-2 select-none"
        (click)="gameStore.giveUp()"
      >
        <app-icon iconName="Search" />
      </button>
    </div>
    <div
      class="flex items-center justify-center gap-1 rounded-sm bg-slate-800 p-1"
    >
      <app-icon iconName="Language" />
      <button
        class="key"
        [class.active]="this.gameStore.language() === 'pt-br'"
        (click)="gameStore.setLanguage('pt-br')"
      >
        PT
      </button>
      <button
        class="key"
        [class.active]="this.gameStore.language() === 'en-us'"
        (click)="gameStore.setLanguage('en-us')"
      >
        EN
      </button>
    </div>
  </div>
  @let answer = gameStore.answer();

  @if (answer) {
    <div class="flex gap-1">
      <app-icon iconName="Search" />
      <p>
        {{ answer.word }}
      </p>
    </div>
  }
</div>
