@reference "../../styles.css";

.letter {
  @apply flex size-20 items-center justify-center rounded bg-gray-600 text-5xl font-bold select-none;
}
@media (width < 600px) {
  .letter {
    @apply size-15 text-3xl;
  }
}

.active {
  @apply border-2 border-gray-400 hover:border-2;
}

.selected {
  @apply border-white;
}

.correct {
  @apply rounded-t-sm bg-green-700 text-white;
}

.present {
  @apply rounded-t-sm bg-yellow-600 text-white;
}

.miss {
  @apply rounded-t-sm bg-gray-800 text-white;
}
