<div
  class="mx-auto flex size-full flex-col gap-2 rounded-sm"
  [class.animate-vibrate]="animateBoard()"
  (animationend)="animateBoard.set(false)"
>
  @for (row of rows(); track i; let i = $index) {
    <div class="attempt-row flex w-full justify-center gap-2">
      @for (attempt of row; track attempt.id; let j = $index) {
        @let selected =
          boardStoreService.selected().row === i &&
          boardStoreService.selected().col === j;
        @let isCurrent = boardStoreService.currentAttempt() === i;

        <div
          class="letter"
          [class.selected]="selected && !boardStoreService.isEnded()"
          [class.correct]="attempt.result === 'correct'"
          [class.present]="attempt.result === 'present'"
          [class.miss]="attempt.result === 'miss'"
          [class.active]="isCurrent && !boardStoreService.isEnded()"
          [class.animate-vibrate]="isCurrent && animateLine() === 'vibrate'"
          [class.animate-bounce-ball]="isCurrent && animateLine() === 'success'"
          (animationend)="animateLine.set(undefined)"
        >
          @if (isCurrent) {
            <input
              name="letter"
              inputmode="none"
              autocomplete="off"
              (click)="select(i, j)"
              #cellInput
              type="text"
              [placeholder]="placeholder()[j]"
              [value]="attempt.letter"
              class="size-full border-none bg-transparent text-center uppercase outline-none"
              [disabled]="
                boardStoreService.selected().row !== i ||
                boardStoreService.isEnded()
              "
              [maxLength]="1"
              (keydown)="typed(i, j, $event)"
            />
          } @else {
            {{ attempt.letter }}
          }
        </div>
      }
    </div>
  }
</div>
