@reference "../../styles.css";

.letter {
  @apply bg-card flex size-20 items-center justify-center rounded text-5xl font-bold select-none;
}
@media (width < 600px) {
  .letter {
    @apply size-15 text-3xl;
  }
}

.active {
  @apply border-card-border border-2 hover:border-2;
}

.selected {
  @apply border-card-border-active;
}

.correct {
  @apply bg-success text-primary-text rounded-t-sm;
}

.present {
  @apply bg-warning text-primary-text rounded-t-sm;
}

.miss {
  @apply bg-dark text-primary-text rounded-t-sm;
}
