@reference "../../styles.css";

.selected {
  @apply border-b-4 animate-bounce;
}

.correct {
  @apply bg-green-700 text-white rounded-t-sm;
}

.present {
  @apply bg-yellow-600 text-white rounded-t-sm;
}

.miss {
  @apply bg-gray-700 text-white rounded-t-sm;
}
