@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  @apply bg-main-bg size-full overflow-hidden;
}

@theme {
  --animate-vibrate: vibrate 0.3s linear 1;
  --animate-vibrate-long: vibrate 0.8s linear 1;
  --animate-bounce-once: bounce 0.4s linear 3;
  --animate-bounce-ball: bounce-ball 0.6s ease-in-out 1;

  @keyframes vibrate {
    0%,
    100% {
      transform: translateX(0);
      will-change: transform;
    }
    25% {
      transform: translateX(4px);
    }
    50% {
      transform: translateX(-4px);
    }
    75% {
      transform: translateX(4px);
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-25%) scaleY(0.9);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  @keyframes bounce-ball {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      /* First big jump */
      transform: translateY(-25%) scaleY(0.9);
    }
    65% {
      /* Second smaller, faster jump */
      transform: translateY(-10%) scaleY(0.9);
    }
    90% {
      /* Third tiny, super-fast jump */
      transform: translateY(-5%) scaleY(0.9);
    }
  }

  /* Colors */
  --color-main-bg: var(--color-gray-700);

  --color-primary: var(--color-slate-600);
  --color-primary-hover: var(--color-slate-500);
  --color-primary-active: var(--color-slate-400);
  --color-primary-disabled: var(--color-slate-700);
  --color-primary-text: var(--color-white);

  --color-secondary: #f1c28e;
  --color-secondary-hover: var(--color-indigo-500);
  --color-secondary-active: var(--color-indigo-400);
  --color-secondary-text: var(--color-slate-600);

  --color-danger: var(--color-red-400);
  --color-danger-hover: var(--color-red-300);
  --color-danger-active: var(--color-red-500);

  --color-success: var(--color-green-700);
  --color-warning: var(--color-yellow-600);
  --color-muted: var(--color-gray-800);

  --color-card: var(--color-gray-600);
  --color-card-border: var(--color-gray-400);
  --color-card-border-active: var(--color-white);

  /* Shadow */
  /* --shadow-game-card:
    0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2); */

  --shadow-soft:
    0 4px 6px -7px rgba(0, 0, 0, 0.5), 0 2px 4px -5px rgba(0, 0, 0, 0.4);

  --shadow-primary-glow: 0 0 15px var(--color-primary);
  --shadow-secondary-glow: 0 0 15px var(--color-secondary);
}

@layer base {
  ::-webkit-scrollbar {
    @apply size-2;
  }

  ::-webkit-scrollbar-corner {
    display: hidden;
  }

  html {
    @apply relative;
  }

  ::-webkit-scrollbar-track {
    /* @apply bg-gray-700; */
    @apply absolute bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md border-2 border-transparent bg-transparent bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500 bg-clip-content;
  }
}
